content{
    margin-top: 200px;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    display: grid;
    grid-template-columns: 1/2;
    border-radius: 20px;
    border: 2px solid rgb(49, 49,49);
    width: 380px;
    height: 390px;
    background-color: #FF3AAE;
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 6px #ffacd8;
}

.intro1{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
}

.p1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 30px;
    left: 25px;
    right: 25px;
    text-align: justify;
}

.back {
    color: black;
    position: absolute;
    top: 600px;
    bottom: 5px;
}

.back a{
    color: #FF3AAE;
    text-decoration: none;
}

.next a:hover, a:active{
    color: #f4bbc9;
}

.back a:hover, a:active{
    color: #f4bbc9;
}

video{
    position: absolute;
    bottom: -700px;
    right: -95px;
    width: 150%;
    height: auto;
}